<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<div class="input__container">
    <label class="input__label" name="number">Enter your Number:</label>
    <input class="input__field mx-2" type="number" name="number" value="name" placeholder="Please Enter Valid Number">
    <button class="btn btn-primary">Chart</button>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>